@font-face {
  font-family: Montserrat;
  src: url(Montserrat.ttf);
}
body {
  font-size: 100%;
  font-family: Montserrat;
}
h1 {
  text-align: center;
  color: #21b799;
}
h2 {
  text-align: center;
  color: #0b7762;
}
.button-icon {
  text-align: center;
}
.l-icon {
  width: 94%;
  padding: 5%;
}

/* inner pages */
.inner-logo {
  float: left;
  width: 10%;
}

.question-asked {
  text-align: center;
}
.question-box {
  margin: 4%;
  padding: 2%;
  width: 88%;
  border-radius: 8px;
  box-shadow: 1px 13px 4px -11px black;
}
.question-box:active {
  margin: 4%;
  padding: 2%;
  width: 88%;
  border-radius: 8px;
  box-shadow: none;
}
.question-box p {
  color: white !important;
  text-shadow: 0px 0px 4px black;
  letter-spacing: 2px;
  font-size: 1em;
  word-wrap: break-word;
}
.question-box b {
  color: white !important;
}
.qb-0 {
  background: #ff802e;
}
.qb-1 {
  background: #21b79a;
}
.qb-2 {
  background: #ffb22e;
}
.qb-3 {
  background: #2f68bb;
}

.q-modal {
  display: none;
  z-index: -3;
  text-align: center;
  position: fixed;
  margin: auto;
  width: 100%;
  height: 800px;
  background: white;
  border: solid 2px black;
  background-color: rgba(255, 255, 255, 0.95);
}
.modal-close {
  background: #a14600;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff822e), to(#a14600));
  background: -webkit-linear-gradient(top, #ff822e, #a14600);
  background: -moz-linear-gradient(top, #ff822e, #a14600);
  background: -ms-linear-gradient(top, #ff822e, #a14600);
  background: -o-linear-gradient(top, #ff822e, #a14600);
  padding: 16px 32px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  border-radius: 38px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 21px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  border: none;
}
.modal-msg {
  font-size: 3em;
}
.modal-chosen {
  font-size: 1.3em;
  margin-left: 5%;
  margin-right: 5%;
}
.modal-correct {
  font-size: 1.3em;
  margin-left: 5%;
  margin-right: 5%;
}
.icon-lang {
  text-align: center;
  margin-top: 0;
}
.modal-msg-title {
  text-decoration: underline;
}

/*



#####  Color Palette by Color Scheme Designer
#####  Palette URL: http://colorschemedesigner.com/#3c41TqeBYw0w0
#####  Color Space: RGB; 



*** Primary Color:

   var. 1 = #21B79A = rgb(33,183,154)
   var. 2 = #358979 = rgb(53,137,121)
   var. 3 = #0B7762 = rgb(11,119,98)
   var. 4 = #54DBC1 = rgb(84,219,193)
   var. 5 = #78DBC8 = rgb(120,219,200)

*** Secondary Color A:

   var. 1 = #2F68BB = rgb(47,104,187)
   var. 2 = #3E5D8C = rgb(62,93,140)
   var. 3 = #0F3A7A = rgb(15,58,122)
   var. 4 = #6193DD = rgb(97,147,221)
   var. 5 = #82A7DD = rgb(130,167,221)

*** Secondary Color B:

   var. 1 = #FFB22E = rgb(255,178,46)
   var. 2 = #BF944A = rgb(191,148,74)
   var. 3 = #A66E0F = rgb(166,110,15)
   var. 4 = #FFC562 = rgb(255,197,98)
   var. 5 = #FFD58C = rgb(255,213,140)

*** Complementary Color:

   var. 1 = #FF802E = rgb(255,128,46)
   var. 2 = #BF784A = rgb(191,120,74)
   var. 3 = #A64A0F = rgb(166,74,15)
   var. 4 = #FFA062 = rgb(255,160,98)
   var. 5 = #FFB98C = rgb(255,185,140)


#####  Generated by Color Scheme Designer (c) Petr Stanicek 2002-2010
Window size: x 
Viewport size: x

*/
