/* 
Songrize Colors
dark red = rgb(234,71,48)
mid orange = rgb(242,123,34)
light orange = rgb(251,200,83)
*/
body{
	margin:0;
	font-size:100%;
	font-family: 'Syncopate', sans-serif;
	overflow: hidden;
}
#stage{
	overflow: hidden;
	width:100%;
	height:100%;
background: #6d1c1c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkMWMxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNDY0ZmFmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #6d1c1c 0%, #464faf 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d1c1c), color-stop(0%,#464faf), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6d1c1c 0%,#464faf 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6d1c1c 0%,#464faf 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6d1c1c 0%,#464faf 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6d1c1c 0%,#464faf 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d1c1c', endColorstr='#000000',GradientType=0 ); /* IE6-8 */


}
.star{
	position: absolute;
	color: rgba(255,255,255,.2);
	margin:none;
}
.small-star{
	font-size:50%;
}
.medium-star{
	font-size:75%;
}
.big-star{
	font-size:100%;
}
.ss_star{
	position: absolute;
	color:white;
	margin:none;
}
#ss_right{
	right:-10%;
	top:20%;
	opacity: 1;
	-webkit-animation:star_right 15s ease-in-out infinite;
    -moz-animation:star_right 15s ease-in-out infinite;
    animation:star_right 15s ease-in-out infinite;	
}
@-moz-keyframes star_right {50% {right:-10%;top:20%;} 60% {right:45%;top:28%;opacity:1;} 61% {opacity:0;} 100% {opacity:0;}}
@-webkit-keyframes star_right {50% {right:-10%;top:20%;} 60% {right:45%;top:28%;opacity:1;} 61% {opacity:0;} 100% {opacity:0;}}

#logo_container{
	display: block;
	position: relative;
	margin:0 auto;
	width:25%;
	min-width: 225px;
	padding-top:30px;
	top:100%;
	transition: top 4s ease-in;
}
#logo_container.show{
	top:0%;
}
#logo_container img{
	width:100%;
}
#s_title{
	text-align: center;
	color:rgb(242,123,34);
	font-family: 'Syncopate';
	font-weight:100;
	width:100%;
	font-size:300%;
   -moz-transition: opacity 2s linear;
   -webkit-transition: opacity 2s linear;
	transition: opacity 2s linear;
}

#wave_container{
	position:absolute;
	bottom:0;
	width:100%;
}
.wave-image{
	overflow: hidden;
	position: absolute;
	bottom:0;
}
#wave-front{
	z-index:8;
	height: 200px;
	width: 118%;
	margin-bottom: -3%;
	margin-left: -4%;
	-webkit-animation:wave_front 15s ease-in-out infinite;
  -moz-animation:wave_front 15s ease-in-out infinite;
  animation:wave_front 15s ease-in-out infinite;
}
@-moz-keyframes wave_front {
	0% {
		-moz-transform: translateX(0%);
	} 
	50% { 
		-moz-transform: translateX(-10%);
	} 
	100% {
		-moz-transform: translateX(0%);
	}
}
@-webkit-keyframes wave_front {
	0% {
		-webkit-transform: translateX(0%);
	} 
	50% {
		-webkit-transform: translateX(-10%);
	} 
	100% {
		-webkit-transform: translateX(0%);
	}
}
@keyframes wave_front {
	0% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	} 
	50% {
		-webkit-transform: translateX(-10%);
		-moz-transform: translateX(-10%);
		-ms-transform: translateX(-10%);
		-o-transform: translateX(-10%);
		transform: translateX(-10%);
	} 
	100% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}
#wave-middle{
	z-index:6;
	height: 175px;
width: 125%;
margin-left: -25%;
	-webkit-animation:wave_middle 20s ease-in-out infinite;
    -moz-animation:wave_middle 20s ease-in-out infinite;
    animation:wave_middle 20s ease-in-out infinite;	
}
@-moz-keyframes wave_middle {
	0% {
		-moz-transform: translateX(0%);
	} 
	50% { 
		-moz-transform: translateX(10%);
	} 
	100% {
		-moz-transform: translateX(0%);
	}
}
@-webkit-keyframes wave_middle {
	0% {
		-webkit-transform: translateX(0%);
	} 
	50% { 
		-webkit-transform: translateX(10%);
	} 
	100% {
		-webkit-transform: translateX(0%);
	}
}
@keyframes wave_middle {
	0% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	} 
	50% {
		-webkit-transform: translateX(10%);
		-moz-transform: translateX(10%);
		-ms-transform: translateX(10%);
		-o-transform: translateX(10%);
		transform: translateX(10%);
	} 
	100% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}
#wave-back{
	z-index:4;
	height:150px;
margin-bottom: 2%;
	-webkit-animation:wave_back 25s ease-in-out infinite;
    -moz-animation:wave_back 25s ease-in-out infinite;
    animation:wave_back 25s ease-in-out infinite;	
}
@-moz-keyframes wave_back {
	0% {
		-moz-transform: translateX(0%);
	} 
	50% { 
		-moz-transform: translateX(-10%);
	} 
	100% {
		-moz-transform: translateX(0%);
	}
}
@-webkit-keyframes wave_back {
	0% {
		-webkit-transform: translateX(0%);
	} 
	50% {
		-webkit-transform: translateX(-10%);
	} 
	100% {
		-webkit-transform: translateX(0%);
	}
}
@keyframes wave_back {
	0% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	} 
	50% {
		-webkit-transform: translateX(-10%);
		-moz-transform: translateX(-10%);
		-ms-transform: translateX(-10%);
		-o-transform: translateX(-10%);
		transform: translateX(-10%);
	} 
	100% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}
.note{
	position: absolute;
	margin: 0;
	font-size: 350%;
}
#note_1{
	color:rgb(242,123,34);
	bottom:-10%;
	left:10%;
	z-index: 3;
	transform:rotate(35deg);
	-ms-transform:rotate(35deg); /* IE 9 */
	-webkit-transform:rotate(35deg);
	-webkit-animation:note_jump_b 10s ease-in-out infinite;
    -moz-animation:note_jump_b 10s ease-in-out infinite;
    animation:note_jump_b 10s ease-in-out infinite;
}
@-webkit-keyframes note_jump_b {0%{bottom:0;left:10%;} 30% { bottom: 40%; left:30%;-webkit-transform:rotate(35deg); } 40% {-webkit-transform:rotate(175deg);}42% {-webkit-transform:rotate(185deg);} 44% {-webkit-transform:rotate(175deg);} 46% {-webkit-transform:rotate(185deg);} 48% {-webkit-transform:rotate(175deg);} 50% {bottom:-10%;left:45%;-webkit-transform:rotate(130deg);} 100%{bottom:-10%;left:45%;-webkit-transform:rotate(130deg);}}
#note_2{
	color:rgb(234,71,48);
	bottom:-10%;
	right:40%;
	z-index: 5;
	transform:rotate(330deg);
	-ms-transform:rotate(330deg); /* IE 9 */
	-webkit-transform:rotate(330deg);
	-webkit-animation:note_jump_a 10s ease-in-out infinite;
    -moz-animation:note_jump_a 10s ease-in-out infinite;
    animation:note_jump_a 10s ease-in-out infinite;	
}
@-webkit-keyframes note_jump_a {30% {bottom:-10%;right:10%;-webkit-transform:rotate(330deg);} 60%{bottom:0;right:10%;-webkit-transform:rotate(330deg);} 70% { bottom: 35%; right:20%; } 80% {-webkit-transform:rotate(175deg);} 90% {bottom:-10%;right:30%;-webkit-transform:rotate(175deg);} 100%{bottom:-10%;right:30%;-webkit-transform:rotate(175deg);}}
#note_3{
	color:rgb(251,200,83);
	bottom:-10%;
	right:20%;
	z-index: 7;
	transform:rotate(330deg);
	-ms-transform:rotate(330deg); /* IE 9 */
	-webkit-transform:rotate(330deg);
	-webkit-animation:note_jump 10s ease-in-out infinite;
    -moz-animation:note_jump 10s ease-in-out infinite;
    animation:note_jump 10s ease-in-out infinite;	
}
@-moz-keyframes note_jump { 40% { bottom: 20%; right:30%; } 50% {transform:rotate(175deg);-webkit-transform:rotate(175deg);} 60% {bottom:0;right:40%;}}
@-webkit-keyframes note_jump {0% {bottom:-10%;right:20%;-webkit-transform:rotate(330deg);} 30%{bottom:0;right:20%;-webkit-transform:rotate(330deg);} 40% { bottom: 20%; right:30%; } 50% {-webkit-transform:rotate(175deg);} 60% {bottom:-10%;right:40%;-webkit-transform:rotate(175deg);} 100%{bottom:-10%;right:40%;-webkit-transform:rotate(175deg);}}
@keyframes note_jump { 40% { bottom: 20%; right:30%; } 50% {transform:rotate(175deg);-webkit-transform:rotate(175deg);} 60% {bottom:0;right:40%;}}
#s_contact{
	position: absolute;
text-align: center;
z-index: 10;
color: white;
width: 100%;
bottom: 10px;
font-size: 170%;
}
#s_contact a{
	text-decoration: none;
	color:rgb(234,71,48);
}