.utilitiesTemplate.svelte-1j1uzk3{font-size:100%;padding:50px;page-break-before:always}.utilitiesTemplate.svelte-1j1uzk3 p.svelte-1j1uzk3{margin:0;line-height:1.1}.utilitiesTemplate.svelte-1j1uzk3 header.svelte-1j1uzk3{text-align:center}.utilitiesTemplate.svelte-1j1uzk3 .lien-search-name.svelte-1j1uzk3{color:var(--color1)}.utilitiesTemplate.svelte-1j1uzk3 hr.svelte-1j1uzk3{margin-top:40px;border:solid 1px black;opacity:1}.utilitiesTemplate.svelte-1j1uzk3 .section-2.svelte-1j1uzk3{margin-top:45px}.utilitiesTemplate.svelte-1j1uzk3 .section-3.svelte-1j1uzk3{margin-top:40px}.utilitiesTemplate.svelte-1j1uzk3 .section-4.svelte-1j1uzk3{margin-top:40px}.utilitiesTemplate.svelte-1j1uzk3 .section-4 td.svelte-1j1uzk3:first-child{padding:0 40px;vertical-align:middle;white-space:nowrap}.utilitiesTemplate.svelte-1j1uzk3 .section-4 td.svelte-1j1uzk3:last-child{width:99%}.utilitiesTemplate.svelte-1j1uzk3 .section-5.svelte-1j1uzk3{margin-top:30px}.utilitiesTemplate.svelte-1j1uzk3 .section-5 div.svelte-1j1uzk3{display:flex;margin-bottom:15px}.utilitiesTemplate.svelte-1j1uzk3 .section-5 .underline-span.svelte-1j1uzk3{border-bottom:solid 1px black;flex-grow:1}.utilitiesTemplate.svelte-1j1uzk3 .section-6.svelte-1j1uzk3{margin-top:45px;text-align:center}
.invoice.svelte-wl0m5x{page-break-before:always;padding:50px;line-height:1.1}.invoice.svelte-wl0m5x header p.svelte-wl0m5x{font-size:130%;text-align:right;padding:7px}.invoice.svelte-wl0m5x .section-1.svelte-wl0m5x{margin-top:30px;display:flex;justify-content:space-between}.invoice.svelte-wl0m5x .section-1 .lien-search-name.svelte-wl0m5x{color:var(--color1)}.invoice.svelte-wl0m5x .section-2.svelte-wl0m5x{margin-top:30px}.invoice.svelte-wl0m5x .section-2 .title.svelte-wl0m5x{padding:7px;width:-webkit-fit-content;width:fit-content}.invoice.svelte-wl0m5x .section-2 .property.svelte-wl0m5x{margin-top:15px}.invoice.svelte-wl0m5x .section-2 .jurisdiction.svelte-wl0m5x{margin-top:30px}.invoice.svelte-wl0m5x .main-table.svelte-wl0m5x{margin-top:30px;margin-bottom:0}.invoice.svelte-wl0m5x .main-table th.svelte-wl0m5x:nth-child(3){text-align:right}.invoice.svelte-wl0m5x .main-table td.svelte-wl0m5x:nth-child(1){width:10%}.invoice.svelte-wl0m5x .main-table td.svelte-wl0m5x:nth-child(2){width:70%}.invoice.svelte-wl0m5x .main-table td.svelte-wl0m5x:nth-child(3){width:20%;text-align:right}.invoice.svelte-wl0m5x .bottom-row td.svelte-wl0m5x:nth-child(1){width:70%;border-right:0}.invoice.svelte-wl0m5x .bottom-row td.svelte-wl0m5x:nth-child(2){width:10%;border-right:0;text-align:right}.invoice.svelte-wl0m5x .bottom-row td.svelte-wl0m5x:nth-child(3){width:20%;text-align:right;font-size:110%}.invoice.svelte-wl0m5x .delete-icon.svelte-wl0m5x{padding:0 5px;font-size:130%}.invoice.svelte-wl0m5x .add-row-btn.svelte-wl0m5x{margin-top:10px}
.generalLienSearchForm.svelte-o30hk1{page-break-before:always;padding:50px;line-height:1.1}.generalLienSearchForm.svelte-o30hk1 header.svelte-o30hk1{padding:5px;font-size:130%}.generalLienSearchForm.svelte-o30hk1 .section-title.svelte-o30hk1{color:var(--color1);text-decoration:underline;margin-top:10px;text-align:center}.generalLienSearchForm.svelte-o30hk1 textarea.svelte-o30hk1{display:block;min-height:55px}.generalLienSearchForm.svelte-o30hk1 input.svelte-o30hk1{font-size:16px}.generalLienSearchForm.svelte-o30hk1 .section .span-1 input.svelte-o30hk1{text-decoration:underline;font-weight:bold;width:auto}.generalLienSearchForm.svelte-o30hk1 .section-inner.svelte-o30hk1{margin-top:10px}.generalLienSearchForm.svelte-o30hk1 .section-inner .span-1.svelte-o30hk1{font-weight:bold;text-decoration:underline}.generalLienSearchForm.svelte-o30hk1 .martin-link.svelte-o30hk1{margin-top:10px}.generalLienSearchForm.svelte-o30hk1 hr.svelte-o30hk1{margin:20px 0;height:3px;background-color:var(--color1)}.generalLienSearchForm.svelte-o30hk1 .textarea.svelte-o30hk1{margin-top:10px}.generalLienSearchForm.svelte-o30hk1 .source-input.svelte-o30hk1{margin-top:10px}.generalLienSearchForm.svelte-o30hk1 .compiled-by-table.svelte-o30hk1{width:100%}.generalLienSearchForm.svelte-o30hk1 .compiled-by-table td.svelte-o30hk1:first-child{width:1%;white-space:nowrap}.generalLienSearchForm.svelte-o30hk1 .compiled-by-table td.svelte-o30hk1:last-child{min-width:20%}.generalLienSearchForm.svelte-o30hk1 .compiled-by-table .custom.svelte-o30hk1{border-bottom:solid 2px black}.generalLienSearchForm.svelte-o30hk1 .company-info.svelte-o30hk1{margin-top:15px;text-align:right}.generalLienSearchForm.svelte-o30hk1 .company-info .title.svelte-o30hk1{color:var(--color1)}.generalLienSearchForm.svelte-o30hk1 .disclaimer.svelte-o30hk1{font-size:80%}
.codeEnforcementRequestForm.svelte-f5hg02{position:relative;page-break-before:always;font-size:85%;width:100vw;height:100vh}.codeEnforcementRequestForm.svelte-f5hg02 header.svelte-f5hg02{display:flex;justify-content:center;align-items:center}.codeEnforcementRequestForm.svelte-f5hg02 header img.svelte-f5hg02{max-width:110px;margin-right:15px}.codeEnforcementRequestForm.svelte-f5hg02 header p.svelte-f5hg02{font-weight:bold}.codeEnforcementRequestForm.svelte-f5hg02 .section-1 p.svelte-f5hg02{text-align:right;font-weight:bold}.codeEnforcementRequestForm.svelte-f5hg02 hr.svelte-f5hg02{height:2px;background-color:black;margin:20px 0}.codeEnforcementRequestForm.svelte-f5hg02 .inner-section.svelte-f5hg02{margin-top:20px}.codeEnforcementRequestForm.svelte-f5hg02 .row.svelte-f5hg02{margin-bottom:5px;display:flex;align-items:baseline;width:100%}.codeEnforcementRequestForm.svelte-f5hg02 .row .inner-block.svelte-f5hg02{display:flex;width:inherit;padding-right:8px}.codeEnforcementRequestForm.svelte-f5hg02 .row .checkbox-container.svelte-f5hg02{margin-right:5px}.codeEnforcementRequestForm.svelte-f5hg02 .row .line.svelte-f5hg02{flex-grow:1;border-bottom:solid 1px black;min-height:20px}.codeEnforcementRequestForm.svelte-f5hg02 .signature.svelte-f5hg02{margin-top:40px;width:30%}.codeEnforcementRequestForm.svelte-f5hg02 .signature .line.svelte-f5hg02{border-bottom:solid 1px black;margin-bottom:5px}.codeEnforcementRequestForm.svelte-f5hg02 .section-3 .title.svelte-f5hg02{margin-top:25px}.codeEnforcementRequestForm.svelte-f5hg02 .section-3 .row>span.svelte-f5hg02{white-space:nowrap}.codeEnforcementRequestForm.svelte-f5hg02 table.svelte-f5hg02{width:100%}.codeEnforcementRequestForm.svelte-f5hg02 table td.svelte-f5hg02{width:25%;border-top:solid 10px transparent}.codeEnforcementRequestForm.svelte-f5hg02 table td.svelte-f5hg02:first-child{width:30%}.codeEnforcementRequestForm.svelte-f5hg02 table td.svelte-f5hg02:nth-child(2){width:20%;border-bottom:solid 1px black}.codeEnforcementRequestForm.svelte-f5hg02 table .inner-box.svelte-f5hg02{display:inline-block;width:48%}.codeEnforcementRequestForm.svelte-f5hg02 .disclaimer.svelte-f5hg02{font-weight:bold;margin-bottom:10px}@media print{.codeEnforcementRequestForm.svelte-f5hg02 footer.svelte-f5hg02{position:absolute;bottom:0}}
:root{--color1:#385623}.styled-row{background-color:var(--color1);color:white}.App.svelte-zmdqmz{padding:10px}.App.svelte-zmdqmz h2.svelte-zmdqmz{margin-bottom:10px}.App.svelte-zmdqmz .section.svelte-zmdqmz{margin-bottom:5px}.App.svelte-zmdqmz .section.svelte-zmdqmz{display:flex;align-items:flex-start}.App.svelte-zmdqmz textarea.svelte-zmdqmz{width:40%;min-height:80px}.App.svelte-zmdqmz label.svelte-zmdqmz{margin-right:8px}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
hr {
  border:none;
}

.unstyled-input {
  background-color:transparent;
  border:none;
  width:80%;
  max-width: 80%;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align:center;
}
.font-white {
  color:white;
}
button {
  border-radius: 5px;
  border: none;
  background: green;
  color: white;
  padding: 5px 10px;
  box-shadow: 1px 1px 3px black;
  cursor: pointer;
}
button:active {
  box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.font-red {
  color:red;
}
.table {
  border-top:solid 1px black;
  border-spacing: 0;
  width:100%;
}
.table th,
.table td{
  padding: 5px;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}
.table th {
  border-top:solid 1px black;
}
.table th:first-child,
.table td:first-child {
  border-left: solid 1px black;
}
.pointer {
  cursor:pointer;
}
.inline-block {
  display:inline-block;
}
textarea {
  font-family: sans-serif;
}

@media print {    
  .no-print, .no-print *
  {
    display: none !important;
  }
}
